# Okta Configuration
OKTA_DOMAIN=bala-secures-ai.oktapreview.com
OKTA_AUTH_SERVER_ID=ausxz4fe1zFC3wYBU1d7
OKTA_CLIENT_ID=wlpyvb6ikeAjKuy4L1d7
OKTA_CLIENT_SECRET=your-client-secret-here

# Weather API
WEATHER_API_KEY=79bfe8c8457f902007e552c4938f930a
